# Pandas
> David Quintanar Pérez

http://pandas.pydata.org/

Pandas es una herramienta de análisis y manipulación de datos de código abierto rápida, potente, flexible y fácil de usar,

Tiene dos principales estructuras de datps
- Series
- DataFrame

In [3]:
import pandas as pd
import numpy as np

In [ ]:
pd.__version__

## Series
Matriz etiquetada **unidimensional** capaz de contener cualquier tipo de datos (enteros, cadenas, números de punto flotante, objetos Python, etc.).

Las etiquetas de los ejes se denominan índice.

var = pd.Series(data, index=index)

In [ ]:
# Crear con numpy arrays
pd_np_series = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
pd_series

In [ ]:
# Crear con diccionarios
dictionary = {"b": 1, "a": 0, "c": 2}

pd_dictionary_series = pd.Series(dictionary)
pd_dictionary_series

In [ ]:
# Crear con diccionarios pero usar otros indices
pd.Series(dictionary, index=["b", "c", "d", "a"])

In [ ]:
# Con una constante
pd.Series(5.0, index=["a", "b", "c", "d", "e"])

In [ ]:
# Seleccionar elemento
print(pd_dictionary_series)
print(pd_dictionary_series[0])

In [ ]:
# Seleccionar elemento
pd_dictionary_series["b"]

In [ ]:
# Saber si existe un valor en el index
"b" in pd_dictionary_series

In [ ]:
# Tipo de dato
pd_dictionary_series.dtype

In [ ]:
# Operaciones aritméticas
pd_dictionary_series + pd_dictionary_series

In [ ]:
# Operaciones aritméticas
pd_dictionary_series * 3

## DataFrame
Estructura de datos etiquetada **bidimensional** con **columnas** de tipos diferentes.

Como una hoja de cálculo o una tabla SQL, o un conjunto de objetos Series.

In [4]:
d_adventure_time = {
    "nombre": ["Finn", "Jake"],
    "apodo": ["El humano", "El perro"],
    "edad": [17, 34]
}

d_adventure_time

{'nombre': ['Finn', 'Jake'],
 'apodo': ['El humano', 'El perro'],
 'edad': [17, 34]}

In [5]:
# Crear de un diccionario
pd.DataFrame(d_adventure_time)

  nombre      apodo  edad
0   Finn  El humano    17
1   Jake   El perro    34

In [6]:
# Crear de un diccionario, pero con otro indice
pd.DataFrame(d_adventure_time, index=["a", "b"])

  nombre      apodo  edad
a   Finn  El humano    17
b   Jake   El perro    34

In [11]:
# Crear de un diccionario, pero con otro indice y selcccionando columnas
pd.DataFrame(d_adventure_time, index=["d", "b"], columns=["nombre", "apodo"])

  nombre      apodo
d   Finn  El humano
b   Jake   El perro

In [13]:
# Por lo general se agrega a una variable llamada df o que empiece con df_
# df_adventure_time
df = pd.DataFrame(d_adventure_time)
df

  nombre      apodo  edad
0   Finn  El humano    17
1   Jake   El perro    34

In [17]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [18]:
df.columns

Index(['nombre', 'apodo', 'edad'], dtype='object')

In [20]:
# Podemos ver que una columna es un objero Series de pandas
type(df.nombre)

pandas.core.series.Series